{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='job.css') }}">

{% endblock %}

{% block content %}
<header>
    <h3>Uni-Portal</h3>
    <nav>
        <ul>
            <li><a href="job.html">Profile</a></li>
            <li><a href="job.html">Search</a></li>
            <li><a href="job.html">Tutoring</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="title">
        <div class="scholarship-search">
            <p>Job Search</p>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="icon" class="resized-image">
        </div>
    </section>

    <section>
        <form class="radio-button">
            <button class="sort-by">Sort By</button>
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" value="On-campus" name="options">
                    <label>On-campus</label>
                </div>
                <div class="radio-item">
                    <input type="radio" value="Off-campus" name="options">
                    <label>Off-campus</label>
                </div>
            </div>
        </form>
    </section>

    <section class="jobs-grid">
        <h1>Scholarships</h1>
        <div class="job-cards">
            {% for job in jobs %}
            <div class="job-card">
                <div class="job-image-placeholder"></div>
                <h3>{{ job.title }}</h3>
                <p>{{ job.description }}</p>
                <button class="apply-button">Apply</button>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}