{% extends 'base.html' %}


{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='job.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaisei+HarunoUmi:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaisei+HarunoUmi:wght@400;700&display=swap" rel="stylesheet">
    <script>
        const imageUrl = "{{ url_for('static', filename='icon.png') }}";
    </script>
    <script defer src="{{ url_for('static', filename='job.js') }}"></script>

{% endblock %}


{% block content %}


<main>
       
    <section>
        <div class="banner">
            <p>Job Search</p>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="icon" class="resized-image">
        </div>
    </section>

    <section>
        <form class="radio-button">
        
            <button type="button" id="sort-by" class="sort-by">Sort By</button>
            
            <div class="radio-group">
                
                <div class="radio-item">
                    <input type="radio" value="Remote" name="options" id="Remote">
                    <label for="remote">Remote</label>
                </div>
                <div class="radio-item">
                    <input type="radio" value="Onsite" name="options" id="Onsite">
                    <label for="onsite">Onsite</label>
                </div>
            </div>
        </form>
    </section>

    <section class="listing">
        <h1>Job Listing</h1>
        <div class="full">
            <h3>Full-Time</h3>
            <div class="card-container">
            </div>
        </div>
        
        <div class="part">
            <h3>Part-Time</h3>
            <div class="card-container">
            </div>
        </div>

        <div class="internship">
            <h3>Internship</h3>
            <div class="card-container">
            </div>
        </div>
    </section>


</main>



{% endblock%}

