{% extends 'base.html' %}


{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarships</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='job.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaisei+HarunoUmi:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaisei+HarunoUmi:wght@400;700&display=swap" rel="stylesheet">
<script>
    // document.addEventListener('DOMContentLoaded', () => {
    //     const imageUrl = "{{ url_for('static', filename='icon.png') }}";

    //     const imgElement = document.createElement('img');
    //     imgElement.src = imageUrl;
    //     imgElement.alt = "Dynamic Image";

    //     const cards = document.querySelectorAll('.card');
    //     cards.forEach(card => {
    //         card.appendChild(imgElement.cloneNode(true)); // Use cloneNode to ensure each card gets its own image
    //     });
        
    // });
    const imageUrl = "{{ url_for('static', filename='icon.png') }}";
</script>
<script defer src="{{ url_for('static', filename='job.js') }}"></script>

{% endblock %}


{% block content %}

<!-- <header>
<h3>Uni-Portal</h3>
<nav>
    <ul>
        <li><a href="job.html">Profile</a></li>
        <li><a href="job.html">Search</a></li>
        <li><a href="job.html">Tutoring</a></li>
    </ul>
</nav>

</header> -->

<main>
   
<section>
    <div class="banner">
        <p>Scholarship Search</p>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="icon" class="resized-image">
    </div>
</section>

<section>
    <form class="radio-button">
    
        <button type="button" id="sort-by" class="sort-by">Sort By</button>
        
        <div class="radio-group">
            
            <div class="radio-item">
                <input type="radio" value="Remote" name="options" id="Remote">
                <label for="remote">Essay Required</label>
            </div>
            <div class="radio-item">
                <input type="radio" value="Onsite" name="options" id="Onsite">
                <label for="onsite">No Essay</label>
            </div>
        </div>
    </form>
</section>

<section class="listing">
    <h1>Scholarships</h1>
    <div class="full">
        <h3>Military</h3>
        <div class="card-container">
            <!-- <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Remote Job 1</p>
                    <p>Work from anywhere.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Onsite Job 2</p>
                    <p>Office-based opportunity.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
            </div> -->
            
        </div>
    </div>
    
    <div class="part">
        <h3>Athletics</h3>
        <div class="card-container">
            <!-- <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Job 1</p>
                    <p>Learn about hosting built for scale and reliability.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
                
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Job 1</p>
                    <p>Learn about hosting built for scale and reliability.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
                
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Job 1</p>
                    <p>Learn about hosting built for scale and reliability.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
                
            </div> -->
        </div>
    </div>

    <div class="internship">
        <h3>First-Generation</h3>
        <div class="card-container">
            <!-- <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Job 1</p>
                    <p>Learn about hosting built for scale and reliability.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
                
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Job 1</p>
                    <p>Learn about hosting built for scale and reliability.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
                
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                <div class="content">
                    <p>Job 1</p>
                    <p>Learn about hosting built for scale and reliability.</p>
                    <input type="button" value="Apply" class="btn">
                </div>
                
            </div> -->
        </div>
    </div>
</section>


</main>



{% endblock%}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
    <h3>Uni-Portal</h3>
    <nav>
        <ul>
            <li><a href="job.html">Profile</a></li>
            <li><a href="job.html">Search</a></li>
            <li><a href="job.html">Tutoring</a></li>
        </ul>
    </nav>

</header>

<main>
   
    <section class="title">
        <div class="job-search">
            <p>Job Search</p>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="icon" class="resized-image">
        </div>
    </section>

    <section>
        <form class="radio-button">
        
            <button class="sort-by">Sort By</button>
            
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" value="Location" name="options">
                    <label>Location</label>
                </div>
                <div class="radio-item">
                    <input type="radio" value="On-campus" name="options">
                    <label>On-campus</label>
                </div>
                <div class="radio-item">
                    <input type="radio" value="Off-campus" name="options">
                    <label>Off-campus</label>
                </div>
            </div>
        </form>
    </section>

    <section class="listing">
        <h1>Job Listing</h1>
        <div class="full">
            <h3>Full-Time</h3>
            <div class="card-container">
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="part">
            <h3>Part-Time</h3>
            <div class="card-container">
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="internship">
            <h3>Internship</h3>
            <div class="card-container">
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='icon.png') }}" alt="icon">
                    <div class="content">
                        <p>Job 1</p>
                        <p>Learn about hosting built for scale and reliability.</p>
                        <input type="button" value="Apply">
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


</main>


<footer>


    <small>Copyright</small>

</footer> 
</body>
</html> -->